.venv/
__pycache__/
*.pyc
logs/
dbt/target/
dbt/logs/
.env
**/.env
**/*.logs
**/__pycache__/
#dbt files  !!!! need to add the full path

target/
dbt_packages/
logs/
.user.yml
C:\Users\musaa\jal-warehouse\dbt\jal_tech\.user.yml 
C:\Users\musaa\jal-warehouse\dbt\jal_tech\profiles.yml